<ion-header>
  <ion-toolbar>
    <ion-title>Detalhe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>ID: {{lancamento.id}}</ion-item>
    <ion-item>createdAt: {{lancamento.createdAt}}</ion-item>
    <ion-item>Nome: {{lancamento.descricao}}</ion-item>
    <ion-item>Data: {{lancamento.data}}</ion-item>
    <ion-item>Valor: {{lancamento.valor}}</ion-item>
    <ion-item>Tipo: {{lancamento.tipo}}</ion-item>
    <ion-item>Conta: {{lancamento.conta}}</ion-item>
  </ion-list>
</ion-content>
